<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign In {{ username }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label position="floating">Username:</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password:</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="signIn(username, password)">Sign In</ion-button>
  <ion-button expand="block" fill="clear" (click)="recoverPassword()" >
    Forgot Password?
  </ion-button>
  <h3>{{ message }}</h3>
</ion-content>
